=============== 
Unity generated
===============
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln
/*.user
/*.unityproj
/*.booproj
sysinfo.txt

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Logs/shadercompiler-UnityShaderCompiler-1.log
Logs/shadercompiler-UnityShaderCompiler-2.log
